<h1>Réinitialisation de mot de passe</h1>
<hr>
<p>Votre demande de réinitialisation de mot de passe a été prise en compte, cliquez sur le lien suivant pour changer de mot de passe:<br>
    {{ token }}
</p>
