{% extends "base.html.twig" %}

{% block body %}
    <h1>Mot de passe oublié ?</h1>
    <hr>
    <div>
        {% if error is defined %}
            <p>{{ error }}</p>
        {% endif %}
        <form action="{{ path('front_user_forget_pass') }}" method="post" >
            <div>
                <label for="email">Email d'inscription</label>
                <input type="email" id="email" name="_email" placeholder="email"/>
            </div>
            <button type="submit">Valider</button>
        </form>
    </div>
{% endblock %}
